//- meta tags for the vue_app index.html
meta(property="og:title" content=game.name)
meta(property="og:image" content='https://www.sportyspots.com/about/assets/sportyspots-logo-square.png')
meta(property="og:url" content='https://www.sportyspots.com/games/' + game.uuid)
meta(property="og:description" content=game.description +  ' @ ' + game.start_time_string)