body {
  overflow-x: hidden;

  // background: url('.././assets/desktop-bg.svg') no-repeat center center fixed;
  // background-repeat: no-repeat;
  // background-size: cover;
  
  background-color: $color-pri-green;
  
  &.organize {
    background-color: $color_green3;
  }

  &.join {
    background-color: $color_green2;
  }

  transition: .5s background-color;

  * {
    transition: .3s all;
  }
}

main {
  padding: 1em;
  margin: 0 auto 0;

  @include media(">medium") {
    width: 90%;

  }
}

.contact-section {
  margin: 2em auto;
  
  @include media(">large") {
    padding-top: 3em;
    padding-left: 3em;
  }
  
  @include media("<large") {
  order: 1;
  }



  .contact-section__title--title {
    flex: 1;
    margin: 0;
    font-size: 4em;
    font-weight: 500;

    @include media("<large") {
      display: none !important;
    }
  }


  .contact-section__subtitle {
    padding-top: 1em;
  }
}

.impression-section {
  margin: auto;

  .impression-section__nav {
    font-family: sans-serif;
    font-size: 2em;
    text-align: center;

    .active {
      color: $gold;
    }
  }
}

.more-info-section {
  margin: 2em auto;

  div.discover, div.organize, div.join {
    @include media(">large") {
      height: 23em;
    }
  }

  .discover__description {
    font-size: 2em;
    font-weight: 500;
  }

  .call-to-action {
    margin: 0 .5em;

    @include media("<large") {
      display: flex;
      justify-content: center;
    }

  .call-to-action__image {
      width: 10em;
    }
  }
}

.navigation {
  @include media(">large") {
    margin-top: 5em;
  }

  @include media("<large") {
    display: flex;
    justify-content: center;
  }


  a {
    display: inline-block;
    margin-right: 1em;
    font-size: 1.2em;
    font-weight: 600;
    color: $white;
    text-decoration: none;
    border-bottom: .1em solid transparent;
    &.active {
      display: inline-block;
      border-bottom: .1em solid $white;
    }
  }
}


//temp

img.toggle {
  width: 20em;
  margin: 0 auto;
}
